{% extends 'base.html' %}

{% set active_page = "archived_map" %}

{% block title %}Archived Map{% endblock %}

{% block onlyAdmin %}
    {% if isAdmin == 1 %}
        <li class="menu-heading">
          <h3>User Management</h3>
        </li>
        <li class="{{ 'active' if active_page == 'users' else '' }}">
          <a href="/users">
            <svg width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M657 896q-162 5-265 128h-134q-82 0-138-40.5t-56-118.5q0-353 124-353 6 0 43.5 21t97.5 42.5 119 21.5q67 0 133-23-5 37-5 66 0 139 81 256zm1071 637q0 120-73 189.5t-194 69.5h-874q-121 0-194-69.5t-73-189.5q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q10 0 43 21.5t73 48 107 48 135 21.5 135-21.5 107-48 73-48 43-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-1024-1277q0 106-75 181t-181 75-181-75-75-181 75-181 181-75 181 75 75 181zm704 384q0 159-112.5 271.5t-271.5 112.5-271.5-112.5-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5zm576 225q0 78-56 118.5t-138 40.5h-134q-103-123-265-128 81-117 81-256 0-29-5-66 66 23 133 23 59 0 119-21.5t97.5-42.5 43.5-21q124 0 124 353zm-128-609q0 106-75 181t-181 75-181-75-75-181 75-181 181-75 181 75 75 181z"/></svg>
            <span>Users</span>
          </a>
        </li>
{#        <li class="{{ 'active' if active_page == 'add_user' else '' }}">#}
{#          <a href="/add_user">#}
{#            <svg width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M704 896q-159 0-271.5-112.5t-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5-112.5 271.5-271.5 112.5zm960 128h352q13 0 22.5 9.5t9.5 22.5v192q0 13-9.5 22.5t-22.5 9.5h-352v352q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-352h-352q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h352v-352q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5v352zm-736 224q0 52 38 90t90 38h256v238q-68 50-171 50h-874q-121 0-194-69t-73-190q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q19 0 39 17 79 61 154.5 91.5t164.5 30.5 164.5-30.5 154.5-91.5q20-17 39-17 132 0 217 96h-223q-52 0-90 38t-38 90v192z"/></svg>#}
{#            <span>Add User</span>#}
{#          </a>#}
{#        </li>#}
        <li class="{{ 'active' if active_page == 'invite_user' else '' }}">
          <a href="/invite_user">
            <svg width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M704 896q-159 0-271.5-112.5t-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5-112.5 271.5-271.5 112.5zm960 128h352q13 0 22.5 9.5t9.5 22.5v192q0 13-9.5 22.5t-22.5 9.5h-352v352q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-352h-352q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h352v-352q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5v352zm-736 224q0 52 38 90t90 38h256v238q-68 50-171 50h-874q-121 0-194-69t-73-190q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q19 0 39 17 79 61 154.5 91.5t164.5 30.5 164.5-30.5 154.5-91.5q20-17 39-17 132 0 217 96h-223q-52 0-90 38t-38 90v192z"/></svg>
            <span>Invite User</span>
          </a>
        </li>

        <li class="menu-heading">
            <h3>Device Management</h3>
        </li>
        <li class="{{ 'active' if active_page == 'device' else '' }}">
          <a href="/device">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 211.617 211.617" style="enable-background:new 0 0 211.617 211.617;" xml:space="preserve">
<path d="M56.283,155.334h99.051V56.283H56.283V155.334z M76.283,76.283h59.051v59.051H76.283V76.283z M0,145.809v20h20.809v25h25
	v20.809h20v-20.809h30v20.809h20v-20.809h30v20.809h20v-20.809h25v-25h20.809v-20h-20.809v-30h20.809v-20h-20.809v-30h20.809v-20
	h-20.809v-25h-25V0h-20v20.809h-30V0h-20v20.809h-30V0h-20v20.809h-25v25H0v20h20.809v30H0v20h20.809v30H0z M40.809,40.809h130v130
	h-130V40.809z"/>
</svg>
            <span>Device</span>
          </a>
        </li>
    {% else %}
        {{ super() }}
    {% endif %}

{% endblock %}

{% block content %}

<div class="archived-map-card-container" style="display: flex; flex-direction: row; padding: 5px">
    <div class="custom-select" style="width:200px;">
      <select>
        <option value="0">Select Map:</option>
        <option value="1">2019 - 12 - 20</option>
        <option value="2">2020 - 01 - 20</option>
        <option value="3">2020 - 02 - 10</option>
      </select>
</div>
    <button style="float: right; line-height: 0px" class="btn btn--radius-2 btn--blue">Get Archive</button>
</div>

<div id="map"></div>

<script>
    var minZoomLevel = 12;
    var maxZoomLevel = 17;

      function initMap() {
          var roadTripCoordinates = [
            {lat:9.0195289,lng:38.8172104},
            {lat:9.0196289,lng:38.8182104}
        ];

          var  lat_lng= JSON.parse('{{ road_data | tojson | safe }}');

          var someJavaScriptVar = [];

          var i;
          for (i = 0; i < '{{ len }}'; i++) {
              someJavaScriptVar.push({lat: parseFloat((lat_lng[i].split(',')[0].substr(1, lat_lng[0].split(',')[0].length)).trim()), lng:parseFloat((lat_lng[i].split(',')[1].substr(0, lat_lng[0].split(',')[1].length - 1)).trim())});
          }

          var roadTrip = new google.maps.Polyline({
            path: someJavaScriptVar,
            strokeColor: '#ff405c',
            strokeOpacity: 1.0,
            strokeWeight: 10
            });

        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 8.9806, lng: 38.7578},
            streetViewControl: false,
            zoom: 12,
            //Silver
          // styles: [
          //     {
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#f5f5f5"
          //         }
          //       ]
          //     },
          //     {
          //       "elementType": "labels.icon",
          //       "stylers": [
          //         {
          //           "visibility": "off"
          //         }
          //       ]
          //     },
          //     {
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#616161"
          //         }
          //       ]
          //     },
          //     {
          //       "elementType": "labels.text.stroke",
          //       "stylers": [
          //         {
          //           "color": "#f5f5f5"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "administrative.land_parcel",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#bdbdbd"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "poi",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#eeeeee"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "poi",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#757575"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "poi.park",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#e5e5e5"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "poi.park",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#9e9e9e"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "road",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#ffffff"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "road.arterial",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#757575"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "road.highway",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#dadada"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "road.highway",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#616161"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "road.local",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#9e9e9e"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "transit.line",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#e5e5e5"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "transit.station",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#eeeeee"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "water",
          //       "elementType": "geometry",
          //       "stylers": [
          //         {
          //           "color": "#c9c9c9"
          //         }
          //       ]
          //     },
          //     {
          //       "featureType": "water",
          //       "elementType": "labels.text.fill",
          //       "stylers": [
          //         {
          //           "color": "#9e9e9e"
          //         }
          //       ]
          //     }
          //   ],
            //Dark
            styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#212121"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#212121"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#181818"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#1b1b1b"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#2c2c2c"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8a8a8a"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#373737"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#3c3c3c"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#4e4e4e"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#000000"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#3d3d3d"
      }
    ]
  }
],

        });

        var opt = { minZoom: minZoomLevel, maxZoom: maxZoomLevel };
        map.setOptions(opt);

        // Bounds for Ethioipa
        var strictBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(4.05, 34.53333),
            new google.maps.LatLng(14.277, 42.8)
       );
        // Listen for the drag event
        google.maps.event.addListener(map, 'drag', function()
           {
             if (strictBounds.contains(map.getCenter())) return;

             // We're out of bounds - Move the map back within the bounds
             var c = map.getCenter(),
                 x = c.lng(),
                 y = c.lat(),
                 maxX = strictBounds.getNorthEast().lng(),
                 maxY = strictBounds.getNorthEast().lat(),
                 minX = strictBounds.getSouthWest().lng(),
                 minY = strictBounds.getSouthWest().lat();

             if (x < minX) x = minX;
             if (x > maxX) x = maxX;
             if (y < minY) y = minY;
             if (y > maxY) y = maxY;

             map.setCenter(new google.maps.LatLng(y, x));
           });
        roadTrip.setMap(map);
        console.log('log')
        console.log(typeof(
            {lat:9.0195289,lng:38.8172104}
        ))
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap&language=am&region=ET" async defer></script>
{% endblock %}